<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxrXrIlY1y4pnSpV72ZcpWMYTbbcdV5Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>844647056548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moodCat</string>
	<key>PROJECT_ID</key>
	<string>mood-3a15b</string>
	<key>STORAGE_BUCKET</key>
	<string>mood-3a15b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844647056548:ios:d505e85e06c7d1e4d29231</string>
</dict>
</plist>